@import "bootstrap.css";

@font-face {
    font-family: 'NetflixSans';
    src: url(../font/NetflixSans-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NetflixSans', sans-serif;
    /*background-color: #141414;*/
    /*color: white;*/
}
.form-control, .form-select{
    border-radius: 0;
    border-color: #1a1d20;
}

#movieList .card {
  background-color: #141414;
  color: white;
}

#form-container input {
  margin-bottom: 10px;
}
.poster-card{
    transition: transform 0.3s ease;
}
.poster-card:hover{
    transform: scale(1.1);
}